body {
  background-image: url("/assets/images/w77579qot1n11.jpg");
  display: grid;
  grid-auto-columns: 1fr 2fr (3fr, auto);
  grid-auto-rows: 1fr 2fr (3fr, auto);
  grid-template-areas:
    "hd hd hd hd hd"
    "sd sd main main main"
    "sd sd main main main"
    "sd sd main main main"
    "ft ft ft ft ft";
}

header {
  grid-area: hd;
  text-align: center;
  color: gold;
  font-size: 56pt;
}

#navbar {
  position: absolute;
  box-shadow: border-box;
}
#navbar a {
  float: left;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color: darkred;
  background-color: darkblue;
  cursor: url("/assets/images/cursor.cur"), default;
}
#navbar a.active {
  background-color: gold;
  color: black;
}
html {
  cursor: url("/assets/images/cursor.cur"), default;
  border: 0.2em dotted red;
}

.tweeps {
  grid-area: main;
  display: flex;
  background-color: aliceblue;
}

.tweeps.div {
  display: flex;
  border: 0.1em dotted gold;
}

.announcements {
  grid-area: sd;
  background-color: aliceblue;
  border: 0.2em dotted gold;
}

.announcements.img {
  display: flex;
  background-image: url(/assets/images/108-1083966_all-might-png-fire-emblem-arthur-all-might.png);
  content-fit: 10%;
  background-color: red;
}

#navbar.li {
}
