@import url(/assets/css/aboutstyles.css);










#navbar{ list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    


}

li{float:left;position:top;
display:block;
padding: 8px;
background-color: darkred;
color:gold;



}

a{color:gold;
}

body{

    background-image: url("/assets/images/w77579qot1n11.jpg");
    display:grid;
    grid-auto-columns:1fr 2fr (3fr, auto);
    grid-auto-rows: 1fr 2fr (3fr, auto) ;
    grid-gap: 1rem;
    grid-template-areas: 
    'hd hd hd hd hd'
    'sd sd main main main'
    'sd sd main main main'
    'sd sd main main main'
    'ft ft ft ft ft';
    



}

header{ grid-area: hd;
    text-align: center;
color: gold;
font-size: 56pt;}



html {
    cursor: url('/assets/images/cursor.cur'), default;
    border: .2em dotted red
  }

.tweeps{ grid-area: main;
    display: flex;
    background-color: aliceblue;
   



}

.tweeps.div{display:flex;
    border: .1em dotted gold;




}

.announcements{grid-area: sd;
    background-color: aliceblue;
    border: .2em dotted gold;



}

.announcements.img{
display:flex;
background-image: url(/assets/images/108-1083966_all-might-png-fire-emblem-arthur-all-might.png);
content-fit: 10%;
background-color: red;

}

